<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="manager/managerLayout">
<head>
<!--
固有のヘッダ情報
-->
</head>
<body>
<!-- ナビゲーションバー -->
<!-- メインコンテンツ -->
<div class="container">
    <div class="row">
        <div layout:fragment="content" class="col col-sm-12">
            <div id="entries">
                <div class="panel-heading"><h3 class="panel-title">「重要なお知らせ」更新画面</h3></div>
                <br/>
                <form id="news-input-form" action="/manager/news/edit/confirm" th:action="@{/manager/news/edit/confirm}"
                      th:object="${newsForm}" method="post">
                    <ul>
                        <li th:each="error : ${#fields.detailedErrors()}">
                            <span th:text="${error.message}">Error message</span>
                        </li>
                    </ul>
                    <div class="form-group">
                        <label for="subject">お知らせ表題</label>
                        <input class="form-control" id="subject" type="text" th:field="*{subject}"/>
                        <label for="role-id">権限</label>
                        <select class="form-control" id="role-id" name="roleId">
                            <option value="">---</option>
                            <option th:each="item : ${roleIdMap}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key} == *{roleId}">pulldown</option>
                        </select>
                        <label for="url">お知らせURL</label>
                        <input class="form-control" id="url" type="text" th:field="*{url}"/>
                        <input class="form-control" id="id" type="hidden" th:field="*{id}" />
                        <input class="form-control" id="version" type="hidden" th:field="*{version}" />
                    </div>
                    <div class="form-group">
                        <button th:type="submit" type="submit" class="btn-primary">確認</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
