<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>基幹システム</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/lib/bootstrap.min.css" th:href="@{/css/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../static/css/lib/bootstrap-theme.min.css" th:href="@{/css/lib/bootstrap-theme.min.css}"/>
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<!-- ナビゲーションバー -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">基幹システム</a>
        </div>
        <div class="collapse navbar-collapse">
            <form id="logout-form" action="/logout" th:action="@{/logout}">
            </form>
            <ul class="nav navbar-nav pull-right">
                <li><a href="index.html">サイト確認</a></li>
                <li><a href="#config">設定</a></li>
                <li class="nav-divider"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        <span class="glyphicon glyphicon-user" th:text="${loginInfo.employeeName} + 'さん'"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#users/update"><span class="glyphicon glyphicon-edit"></span> ユーザー情報変更</a>
                        </li>
                        <li><a  id="logout-link" href="#logout"><span class="glyphicon glyphicon-off"></span> ログアウト</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- メインコンテンツ -->
<div class="container">
    <div layout:fragment="content" class="col col-sm-12">
        <div id="entries" class="tab-pane active">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">「重要なお知らせ」入力画面</h3></div>
                <br/>
                <p id="message" type="text" th:text="${message}"></p>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../../../static/js/lib/bootstrap.min.js" th:src="@{/js/lib/bootstrap.min.js}"></script>
<script>
    // ログアウト
    $('#logout-link').on('click', function (e) {
        $('#logout-form').submit();
    });
</script>
</body>
</html>
