<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="manager/managerLayout">
<head>
    <!--
    固有のヘッダ情報
    -->
</head>
<body>
<!-- メインコンテンツ -->
<div class="container">
    <div class="row">
        <div layout:fragment="content" class="col col-sm-12">
            <div id="entries">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">「重要なお知らせ」確認画面</h3></div>
                    <br/>
                    <form id="entry-input-form" action="/manager/news/register"
                          th:action="@{/manager/news/register}" th:object="${form}" method="post">
                        <div class="form-group" style="padding: 10px;">
                            <label>お知らせ表題</label>
                            <p th:text="*{subject}"></p>
                            <label>権限</label>
                            <p th:text="*{roleNm}"></p>
                            <label>お知らせURL</label>
                            <p th:text="*{url}"></p>
                        </div>
                        <div class="form-group" style="padding: 10px;">
                            <button type="submit" class="btn-primary" name="register">登録</button>
                            <button type="submit" class="btn-primary" name="back">戻る</button>
                        </div>
                        <input class="form-control" id="roleId" type="hidden" th:field="*{roleId}" />
                        <input class="form-control" id="roleNm" type="hidden" th:field="*{roleNm}" />
                        <input class="form-control" id="subject" type="hidden" th:field="*{subject}" />
                        <input class="form-control" id="url" type="hidden" th:field="*{url}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
