<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="manager/managerLayout">
<head>
    <!--
    固有のヘッダ情報
    -->
</head>
<body>
<!-- メインコンテンツ -->
<div class="container">
    <div class="row">
        <div layout:fragment="content" class="col col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">「重要なお知らせ」管理画面</h3></div>
                <div class="panel-body">
                    <div id="div-cond">

                    </div>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">更新履歴1</li>
                            <li class="list-group-item">更新履歴2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../../../static/js/lib/bootstrap.min.js" th:src="@{/js/lib/bootstrap.min.js}"></script>
<script>
    // ログアウト
    $('#logout-link').on('click', function (e) {
        $('#logout-form').submit();
    });
</script>
</body>
</html>
